<!-- <ul class="nav nav-pills flex-column bg-light">
  <li *ngFor="let item of navItems">
      <a class="nav-link" routerLink="{{item.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{item.label}}</a>
  </li>
</ul> -->


<ul class="nav nav-pills flex-column bg-light">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="lead-in-lieu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Deed in Lieu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="equity-analysis" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Equity Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="forclouser-bid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Forclosure Bid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="short-sale" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Short Sale</a>
    </li>
  </ul>